projects:
  FraudDetectionDashboardAPI:
    schemaPath: src/graphql/schema.json
    includes:
      - src/graphql/**/*.ts
    excludes:
      - ./amplify/**
    extensions:
      amplify:
        codeGenTarget: typescript
        generatedFileName: src/API.ts
        docsFilePath: src/graphql
        region: ap-northeast-1
        apiId: 7ztaetnhejdornfimuapudchne
        maxDepth: 2
extensions:
  amplify:
    version: 3
